body{
        font-family: Arial;
        margin:0;
        background-color: lightblue;
        font-size:18px;
    }

    nav{
        background:black;
        padding:10px;
    }

    nav ul{
        display:flex;
        list-style:none;
        gap:20px;
        justify-content:center;
    }

    nav a{
        color:white;
        text-decoration:none;
    }

    .container{
        text-align:center;
        padding:40px;
    }



    @media (max-width:768px){

        body{
            background-color: lightcoral;
        }

        body{
            font-size:14px;
        }

        nav ul{
            flex-direction:column;
            align-items:center;
        }

    }