
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckAge</title>
</head>
<body>
    
    @{
            int age = Convert.ToInt32(ViewData["age"]);
            if (age>=18)
            {
                <p>Eligible for vote</p>
                
            }
            else
            {
                <p>NOT Eligible FOR VOTE</p>
            }
        }
</body>
</html>
