
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    @{
        List<string>? student = ViewData["student"] as List<string>;

        foreach (var s in student)
        {
            <h4>@s</h4>
            <hr />
        }
    }
</body>
</html>
