
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee_Details</title>
</head>
<body>
    <h1>"Hi ,My name:@ViewData["name"],salary:@ViewData["salary"],Department:@ViewData["dept"]"</h1>
    <h2>Today Date:@System.DateTime.Now</h2>
</body>
</html>
