
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>"hi name:@ViewData["name"] age:@ViewData["age"]"</h1>
</body>
</html>
