@model User_Management_System_MVC.ViewModel.UserViewModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-info text-white text-center">
                <h3>User Profile</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Email</td>
                    </tr>
                </table>

                <div class="text-center">
                    <a asp-action="Edit" class="btn btn-warning me-2">Edit Profile</a>
                    <a asp-action="Logout" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>